#Stored in /etc/systemd/system/orders.service
#Start with : sudo systemctl start orders.service
#sudo journalctl -f -u orders.service
#TODO : add to make install
[Unit]
StopWhenUnneeded=false

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/orders
WorkingDirectory=/home/yakov/app/services/orders/bin/
User=yakov
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
